@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #fff;
    overflow-x: hidden;
}

/* Global Classes  */
li,
button {
    color: #000;
    cursor: pointer;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Header Section */
.header.custom {
    display: flex;
    justify-content: left;
    padding: 25px 50px;
    border-bottom: none;
}

.header.custom .left-content a { 
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.header.custom .left-content a i {
    color: #000;
    font-size: 3rem;
}

.header.custom .left-content a h2 {
    color: #000;
    transform: translateY(12%);
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.5rem;
}

.header {
    padding: 12px 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}

.header .left-content a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    color: #000;
}

.header nav ul {
    display: flex;
    flex-direction: row;
}

.header nav ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
    margin-left: 20px;
}

.header nav ul li h4 {
    font-weight: 400;
}

.header nav ul li i {
    font-size: 0.75rem;
    margin-left: 2px;
    transform: translateY(28%);
}

.header .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header .right-content a {
    text-decoration: none;
    color: #000;
}

.header .right-content i {
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #000;
    transition: all 0.3s ease 0s;
}

.header .right-content i:hover {
    color: #000;
}

.header .right-content .search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.header .right-content .search-container form {
    margin: 4px 20px;
    width: 710px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
}
  
.header .right-content .search-container form input {
    width: 90%;
    border: none;
    outline: none;
    color: #000;
    margin-left: 10px;
    font-size: 1.125rem;
}
  
.header .right-content .search-container form input::placeholder {
    color: #000;
}
  
.header .right-content .search-container form button {
    background-color: #fff;
    color: #000;
    border: none;
}
  
.header .right-content .search-container form button .fa-magnifying-glass {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    padding-right   : 10px;
    transition: all 0.3s ease 0s;
}
  
.header .right-content .search-container form button i:hover {
    transform: scale(1.1);
}

/* Sub Header Section  */
.sub-header {
    padding: 0 16.5%;
}

.sub-header nav ul {
    display: flex;
    justify-content: center;
}

.sub-header nav ul li {
    list-style: none;
    margin: 5px 56px;
}

.sub-header nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
    transition: all 0.3s ease 0s;
}

.sub-header nav ul li a:hover {
    text-decoration: underline;
}

/* Login & Register Section  */
.hero {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .wrapper {
    width: 380px;
}

.hero .wrapper form {
    padding: 10px;
}

.hero .wrapper form  header {
    font-size: 1.125rem;
    margin-bottom: 2px;
}

.hero .wrapper form .social {
    display: flex;
    flex-direction: column;
}

.hero .wrapper form .social .content-row {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.hero .wrapper form .social .content-row:hover {
    background-color: #AAAAAA;
}

.hero .wrapper form .social .content-row .icon {
    border-radius: 100%;
    border: 1px solid #000;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.hero .wrapper form .social .content-row .icon i {
    font-size: 1.375rem;
}

.hero .wrapper form .social .content-row h2 {
    font-weight: 400;
    font-size: 1.125rem;
    transform: translateY(8%);
    margin-left: 10px;
}

.hero .wrapper form .standard {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.hero .wrapper form .standard .field {
    color: #000;
    display: flex;
    flex-direction: column;
}

.hero .wrapper form .input {
    margin: 5px 0;
}

.hero .wrapper form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 20px 20px 20px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
}

.hero .wrapper form .action {
    display: flex;
    justify-content: right;
    margin: 10px 0;
}

.hero .wrapper form .action button {
    margin-left: 20px;
    border: none;
    outline: none;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease 0s;
}

.hero .wrapper form .action button:hover {
    text-decoration: underline;
}

.hero .wrapper form .action button a {
    text-decoration: none;
    color: #000;
}

/* Intro Banner Section  */
.home-intro-banner {
    position: relative;
    padding: 20px 0;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #d9d9d9;
}

.home-intro-banner header {
    font-size: 1.5rem;
}

.home-intro-banner .carousel {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    transform: translateY(60%);
    margin: 10px 0;
}

.home-intro-banner .carousel .wrapper {
    margin-right: 40px;
}

.home-intro-banner .carousel .wrapper .content {
    height: 140px;
    width: 140px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.home-intro-banner .carousel .wrapper h4 {
    font-weight: 400;
}

.home-intro-banner .carousel .wrapper .content:hover {
    background-color: #d9d9d9;
}

/* Top Rated & Latest Artworks Section */
.design-one {
    margin: 150px 0 0 0;
    padding: 0 16%;
    display: flex;
    flex-direction: column;
}

.design-one .details {
    margin: 0 10px;
}

.design-one .details header {
    font-size: 1.5rem;
    font-weight: 500;
}

.design-one .details p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #737373;
    margin-bottom: 10px;
}

.design-one .row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.design-one .row .content-col {
    position: relative;
    flex: 33%;
    margin: 0 10px;
    height: 350px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.design-one .row .content-col .img {
    width: 100%;
    height: 77%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #D9D9D9;
    border-bottom: 2px solid #000;
}

.design-one .row .content-col .actions {
    position: absolute;
    width: 100%;
    top: 30%;
}

.design-one .row .content-col .actions .btn-center {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.design-one .row .content-col .actions .btn-center button {
    background-color: #d9d9d9;
    border: none;
    outline: none;
}

.design-one .row .content-col .actions .btn-center button i {
    font-size: 2rem;
}

.design-one .row .content-col .user-details {
    height: 10%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.design-one .row .content-col .user-details .user-img {
    height: 60px;
    width: 60px;
    border: 1px solid #000;
}

.design-one .row .content-col .user-details .name-rating {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.design-one .row .content-col .user-details .name-rating header {
    font-weight: 400;
    font-size: 1.25rem;
}

.design-one .row .content-col .user-details .name-rating .rating {
    display: flex;
    flex-direction: row;
}

.design-one .row .content-col .user-details .name-rating .rating h4 {
    font-weight: 400;
    font-size: 1.125rem;
    margin-right: 8px;
}

.design-one .row .content-col .user-details .name-rating .stars {
    display: flex;
    flex-direction: row;
    transform: translateY(7%);
}

.design-one .row .content-col .user-details .name-rating .stars i {
    margin-right: 2px;
    font-size: 1.25rem;
}

.design-one .row .content-col .user-details .price {
    position: absolute;
    bottom: 12px;
    right: 10px;
}

.design-one .row .content-col .user-details .price h4 {
    font-weight: 400;
}



/* Top Artists Section  */
.top-paid {
    margin: 30px 0;
    padding: 0 16%;
    display: flex;
    flex-direction: column;
}

.top-paid .details {
    margin: 0 10px;
}

.top-paid .details header {
    font-size: 1.5rem;
    font-weight: 500;
}

.top-paid .details p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #737373;
    margin-bottom: 10px;
}

.top-paid .row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-paid .row .content-col {
    position: relative;
    flex: 33%;
    margin: 0 10px;
    height: 350px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-paid .row .content-col .price {
    position: absolute;
    display: flex;
    top: 10px;
    right: 15px;
}

.top-paid .row .content-col .price h4{
    font-weight: 400;
}

.top-paid .row .content-col .user-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-paid .row .content-col .user-details .img {
    height: 90px;
    width: 90px;
    border: 1px solid #000
}

.top-paid .row .content-col .user-details header {
    font-size: 1.375rem;
    font-weight: 400;
    margin-top: 8px;
}

.top-paid .row .content-col .user-details p {
    font-weight: 400;
    margin: -5px 0 0px 0;
}

.top-paid .row .content-col .user-details .rating {
    display: flex;
    flex-direction: column;
}

.top-paid .row .content-col .user-details .rating i {
    font-size: 1.125rem;
}

.top-paid .row .content-col .user-details .rating h4 {
    font-weight: 400;
    font-size: 1.125rem;
}

.top-paid .row .content-col .user-details button {
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 9px 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s ;
}

.top-paid .row .content-col .user-details button:hover {
    background-color: #d9d9d9;
}

.top-paid .row .content-col .user-details button a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* Footer Section  */
.footer {
    position: relative;
    margin: 50px 0 0 0;
    width: 100%;
    background-color: #d9d9d9;
    border: 2px solid #000;
    border-bottom: none;
}

.footer .footer-top {
    padding: 0 16.5%;
}

.footer .top {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: #000;
    cursor: pointer;
    right: 30px;
    top: -55px;
}

.footer .top i {
    color: #fff;
}

.footer .row {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.footer .row .content-col {
    flex: 21%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer .row .content-col a {
    text-decoration: none;
    color: #000;
}

.footer .row .content-col .logo {
    font-size: 1.5rem;
    font-weight: 500;
}

.footer .row .content-col header {
    margin: 5px 0;
    font-size: 1.25rem;
    font-weight: 400;
}

.footer .row .content-col ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 1.25rem;
    font-weight: 400;
}

.footer-bottom {
    display: flex;
    width: 100%;
    padding: 20px 16.5%;
    border: 2px solid #000;
    background-color: #000;
}

.footer-bottom .left-content {
    display: flex;
}

.footer-bottom .left-content p {
    font-weight: 500;
    color: #fff;
}

/* About Intro Section  */
.about-intro {
    position: relative;
    margin: 20px 0;
    padding: 2% 16.5%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #000;
}

.about-intro .left-content {
    display: flex;
    flex-direction: column;
}

.about-intro .left-content header {
    font-size: 58px;
    font-weight: 500;
}

.about-intro .left-content p {
    font-size: 1.75rem;
    font-weight: 300;
}

.about-intro .left-content h4 {
    margin: 20px 0;
    font-size: 1.75rem;
    font-weight: 500;
}

.about-intro .actions {
    display: flex;
    flex-direction: row;
}

.about-intro .actions button {
    margin-right: 10px;
    background-color: #fff;
    border: 2px solid #000;
    padding: 12px 48px;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}

.about-intro .actions button:hover {
    background-color: #000;
}

.about-intro .actions button:hover a {
    color: #fff;
}

.about-intro .actions button.signin {
    background-color: #000;
    padding: 12px 60px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.about-intro .actions button.signin:hover {
    background-color: #fff;
}

.about-intro .actions button.signin:hover a {
    color: #000;
}

.about-intro .actions button.signin a {
    color: #fff;
}

.about-intro .actions button a {
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
}

.about-intro .right-content .img {
    position: absolute;
    height: 650px;
    width: 740px;
    bottom: 0px;
    right: 16.5%;
    border: 2px solid #000;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* About One Section  */
.about-container {
    margin: 30px 14%;
    height: 600px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
}

.about-container .left-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 30px;
}

.about-container .left-content header {
    font-size: 42px;
}

.about-container .left-content p {
    font-size: 1.5rem;
    font-weight: 400;
}

.about-container .left-content .bullets {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.about-container .left-content .bullets .content {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-container .left-content .bullets .content .icon {
    height: 30px;
    width: 30px;
    background-color: #000;
    border-radius: 100%;
}

.about-container .left-content .bullets .content h4 {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.about-container .left-content .actions {
    margin-top: 20px;
}

.about-container .left-content .actions button {
    padding: 12px 32px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #000;
    transition: all 0.3s ease 0s;
}

.about-container .left-content .actions button:hover {
    background-color: #d9d9d9;
}

.about-container .left-content .actions button a {
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
}

.about-container .right-content {
    width: 50%;
    height: 100%;
    border-left: 2px solid #000;
}

/* About Two Section  */
.about-container.second {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.about-container.second header {
    font-size: 72px;
    line-height: 96px;
}

.about-container.second p {
    margin: 10px 0;
    font-size: 1.25rem;
}

.about-container.second .row {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
}

.about-container.second .row .content{
    flex: 33%;
    height: 180px;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.about-container.second .row .content:hover {
    background-color: #d9d9d9;
}

.about-container.second .row:last-child {
    margin-right: 0;
}

/* About Artists Section  */
.about-artists {
    margin: 30px 16.5%;
}

.about-artists header {
    margin: 0 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.about-artists .redirect {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-artists .redirect p {
    font-size: 1.25rem;   
    color: #737373;
    font-weight: 400;
}

.about-artists .redirect a {
    margin-left: 10px;
    font-size: 1.25rem;
    text-decoration: underline;
    color: #000;
}

.about-artists .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-artists .row .content-col {
    position: relative;
    flex: 25%;
    margin: 10px;
    border: 2px solid #000;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.about-artists .row .content-col:hover {
    background-color: #d9d9d9;
}

.about-artists .row .content-col h4 {
    position: absolute;
    bottom: 0px;
    margin: 10px 0;
    font-size: 1.125rem;
    font-weight: 500;
}

/* Contact Content Section  */
.contact-intro { 
    padding: 40px 0 80px 0;
    width: 100%;
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-intro header {
    font-size: 3rem;
    font-weight: 500;
}

.contact-intro p {
    font-size: 1.5rem;
}

/* Contact Banner Section  */
.contact-banner {
    margin: 50px 18% 0;
    height: 180px;
}

.contact-banner .row {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
}

.contact-banner .row .contact-col {
    height: 180px;
    margin: 10px;
    padding: 40px;
    display: flex;
    align-items: center;
    border: 2px solid #000;
    border-radius: 5px;
}

.contact-banner .row .contact-col i {
    font-size: 82px;
    margin-right: 30px;
}

.contact-banner .row .contact-col .details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-banner .row .contact-col .details header {
    font-size: 1.875rem;
    font-weight: 500;
}

.contact-banner .row .contact-col .details p {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Contact Form Section  */
.contact-form {
    margin: 300px 17% 0 ;
    border: 2px solid #000;
    border-radius: 5px;
}

.contact-form .img {
    height: 300px;
    border-bottom: 2px solid #000;
}

.contact-form .wrapper {
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.contact-form .wrapper header {
    font-size: 1.875rem;
    font-weight: 500;
}

.contact-form .wrapper p {
    font-size: 1.5rem;;
    font-weight: 400;
}

.contact-form .wrapper form {
    margin-top: 30px;
}

.contact-form .wrapper form .user-details {
    display: flex;
    flex-direction: row;
}

.contact-form .wrapper form .user-details .field {
    color: #000;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contact-form .wrapper form .user-details .field label {
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.contact-form .wrapper form .user-details .input {
    width: 100%;
}

.contact-form .wrapper form .user-details .input:first-child {
    margin-right: 30px;
}

.contact-form .wrapper form .user-details .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 30px 20px 30px 10px;
    border: 2px solid #000;
    border-radius: 3px;
}

.contact-form .wrapper form .input.message {
    color: #000;
    display: flex;
    flex-direction: column;
    margin-top: 10px;   
}

.contact-form .wrapper form .input.message label {
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.contact-form .wrapper form .input.message textarea {
    padding: 10px;
    height: 300px;
    border: 2px solid #000;
    resize: none;
}

.contact-form .wrapper form .action {
    display: flex;
    justify-content: right;
    margin: 30px auto;
}

.contact-form .wrapper form .action button {
    padding: 10px 80px;
    background-color: #000;
    border-radius: 12px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.contact-form .wrapper form .action button:hover {
    background-color: #f7f7f7;
    color: #000;
}

/* FAQs Intro Section  */
.faqs-intro {
    padding: 40px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #000;
}

.faqs-intro header {
    font-size: 3rem;
    font-weight: 500;
}

.faqs-intro p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.faqs-intro .search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.faqs-intro .search-container form {
  width: 100%;
  max-width: 600px;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

.faqs-intro .search-container form input {
  width: 80%;
  border: none;
  outline: none;
  color: #000;
  font-size: 1.125rem;
}

.faqs-intro .search-container form input::placeholder {
  color: #000;
}

.faqs-intro .search-container form button {
  margin-right: 20px;
  background-color: #fff;
  color: #000;
  border: none;
}

.faqs-intro .search-container form button .fa-magnifying-glass {
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;
}

.faqs-intro .search-container form button i:hover {
  transform: scale(1.1);
}

/* FAQS Section  */
.faq-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    margin-bottom: 50px;
}
  
.faq-container header {
    font-size: 2rem;
    margin: 32px 0px;
    font-weight: 500;
}
  
.faq {
    max-width: 700px;
    padding: 10px;
    border: 2px solid #000;
    cursor: pointer;
}
  
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.question h3 {
    font-size: 1.75rem;
    font-weight: 500;
}
  
.answer {
    color: #485665;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
  
.answer p {
    padding-top: 16px;
    line-height: 1.6;
    font-size: 1.375rem;
}
  
.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
  
.faq.active svg {
    transform: rotate(180deg);
}
  
svg {
    transition: transform 0.5s ease-in;
}
  
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
  
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Breadcrumbs Section */
.breadcrumbs {
    margin: 20px 16.4%;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.breadcrumbs h4 {
    font-size: 1.125rem;
    font-weight: 400;
}

/* Art Styles Section  */
.art-styles {
    margin: 30px 16%;
}

.art-styles .details {
    margin: 0 10px;
}

.art-styles header {
    font-size: 42px;
}

.art-styles p {
    font-size: 1.375rem;
    font-weight: 400;
}

.art-styles .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
}

.art-styles .row .content-col {
    flex: 25%;
    border: 2px solid #000;
    height: 340px;
    border-radius: 10px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
}

.art-styles .row .content-col .img {
    height: 75%;
    background-color: #d9d9d9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid #000;
}

.art-styles .row .content-col .art-details {
    margin: 4% 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.art-styles .row .content-col .art-details h4 {
    font-weight: 400;
    font-size: 1.125rem;
}

.art-styles .row .content-col .art-details .action {
    margin: 10px 0 0 0;
}

.art-styles .row .content-col .art-details .action a {
    text-decoration: none;
    color: #000;
}

.art-styles .row .content-col .art-details .action:hover a {
    text-decoration: underline;
}

/* View Art Style Section  */
.view-art-style {
    margin: 0 16%;
}

.view-art-style .art-row {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.view-art-style .details {
    position: relative;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-art-style .details header {
    font-size: 2rem;
    font-weight: 500;
}

.view-art-style .details .action {
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.view-art-style .details .action a {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    margin-right: 5px;
}

.view-art-style .details .action a:hover {
    text-decoration: underline;
}

.view-art-style .content-row {
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
}

.view-art-style .content-row .content-col {
    flex: 33.3%;
    margin: 0 5px;
    height: 650px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.view-art-style .content-row .content-col .top {
    position: relative;
    height: 40%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid #000;
    background-color: #d9d9d9;
}

.view-art-style .content-row .content-col .top .icon {
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: #fff;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.view-art-style .content-row .content-col .top .icon:hover  {
    background-color: #AAAAAA;
}

.view-art-style .content-row .content-col .top .icon i {
    font-size: 1.25rem;
}

.view-art-style .content-row .content-col .top .actions  {
    padding: 0 20px;
    position: absolute;
    width: 100%;
    top: 40%;
}

.view-art-style .content-row .content-col .top .actions .btn-center {
    display: flex;
    justify-content: space-between;
}

.view-art-style .content-row .content-col .top .actions .btn-center button {
    background-color: #d9d9d9;
    border: none;
    outline: none;
}

.view-art-style .content-row .content-col .top .actions .btn-center button i  {
    font-size: 1.5rem;
}

.view-art-style .content-row .content-col .bottom {
    position: relative;
    height: 60%;
    padding: 40px 20px;
}

.view-art-style .content-row .content-col .bottom .img {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 0px;
    background-color: #fff;
    transform: translateY(-50%);
    border: 2px solid #000;
}

.view-art-style .content-row .content-col .bottom .details-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-art-style .content-row .content-col .bottom .details-rating .user-details {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
}

.view-art-style .content-row .content-col .bottom .details-rating .user-details h4:last-child {
    color: #737373;
}

.view-art-style .content-row .content-col .bottom .details-rating .user-details h4 {
    font-weight: 400;
}

.view-art-style .content-row .content-col .bottom .details-rating .rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: right;
}

.view-art-style .content-row .content-col .bottom .details-rating .rating .stars i {
    font-size: 1.125rem;
}

.view-art-style .content-row .content-col .bottom .details-rating .rating h4 {
    font-size: 1.125rem;
    color: #737373;
    font-weight: 400;
}

.view-art-style .content-row .content-col .bottom .price {
    font-size: 1.125rem;
}

.view-art-style .content-row .content-col .bottom .price h4 {
    color: #737373;
    font-weight: 400;
}

.view-art-style .content-row .content-col .bottom .description {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    text-align: justify;
    margin: 10px 0;
}

.view-art-style .content-row .content-col .bottom .style-tags {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
}

.view-art-style .content-row .content-col .bottom .style-tags .style {
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin: 0 5px;
}

/* View Art Posts Section  */
.view-art-style.art-posts .details .art-details {
    display: flex;
    flex-direction: column;
}

.view-art-style.art-posts .details .art-details header {
    font-size: 1.5rem;
}

.view-art-style.art-posts .details .art-details p {
    font-size: 1.25rem;
}

.view-art-style.art-posts .content-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.view-art-style.art-posts .content-row .content-col {
    margin: 5px;
}

.view-art-style.art-posts .details .action button {
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: all 0.3s ease 0s;
}

.view-art-style.art-posts .details .action button:hover {
    background-color: #d9d9d9;
}

.view-art-style.art-posts .details .action button i {
    font-size: 1.25rem;
    margin-right: 10px;
}

.view-art-style.art-posts .details .action button h4 {
    font-weight: 500;
    font-size: 1rem;
}

/* View Artists Section  */
.view-artists {
    margin: 0 16%;
}

.view-artists .details {
    position: relative;
    margin: 0 8px;
    display: flex;
    justify-content: space-between;
}

.view-artists .details .art-type-intro {
    display: flex;
    flex-direction: column;
}

.view-artists .details .art-type-intro header {
    font-size: 1.5rem;
}

.view-artists .details .art-type-intro p {
    font-size: 1.25rem;
}

.view-artists .actions {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.view-artists .actions button {
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: all 0.3s ease 0s;
}

.view-artists .actions button:hover {
    background-color: #d9d9d9;
}

.view-artists .actions button i {
    font-size: 1.25rem;
    margin-right: 10px;
}

.view-artists .actions button h4 {
    font-weight: 500;
    font-size: 1rem;
}

.view-artists .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.view-artists .row .content-col {
    position: relative;
    margin: 15px 8px 10px 0;
    height: 350px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-artists .row .content-col .price {
    position: absolute;
    display: flex;
    top: 10px;
    right: 15px;
}

.view-artists .row .content-col .price h4{
    font-weight: 400;
}

.view-artists .row .content-col .user-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.view-artists .row .content-col .user-details .img {
    height: 90px;
    width: 90px;
    border: 1px solid #000
}

.view-artists .row .content-col .user-details header {
    font-size: 1.375rem;
    font-weight: 400;
    margin-top: 8px;
}

.view-artists .row .content-col .user-details p {
    font-weight: 400;
    margin: -5px 0 0px 0;
}

.view-artists .row .content-col .user-details .rating {
    display: flex;
    flex-direction: column;
}

.view-artists .row .content-col .user-details .rating i {
    font-size: 1.125rem;
}

.view-artists .row .content-col .user-details .rating h4 {
    font-weight: 400;
    font-size: 1.125rem;
}

.view-artists .row .content-col .user-details button {
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 9px 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s ;
}

.view-artists .row .content-col .user-details button:hover {
    background-color: #d9d9d9;
}

.view-artists .row .content-col .user-details button a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

