@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #fff;
    overflow-x: hidden;
}

/* Global Classes  */
li,
button {
    color: #000;
    cursor: pointer;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Header Section */
.header.custom {
    display: flex;
    justify-content: left;
    padding: 25px 50px;
    border-bottom: none;
}

.header.custom .left-content a { 
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.header.custom .left-content a i {
    color: #000;
    font-size: 48px;
}

.header.custom .left-content a h2 {
    color: #000;
    transform: translateY(12%);
    margin-left: 10px;
    font-weight: 500;
    font-size: 24px;
}

.header {
    padding: 12px 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}

.header .left-content a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.header nav ul {
    display: flex;
    flex-direction: row;
}

.header nav ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-left: 20px;
}

.header nav ul li h4 {
    font-weight: 400;
}

.header nav ul li i {
    font-size: 12px;
    margin-left: 2px;
    transform: translateY(28%);
}

.header .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header .right-content a {
    text-decoration: none;
    color: #000;
}

.header .right-content i {
    margin-left: 20px;
    cursor: pointer;
    font-size:  24px;
    color: #000;
    transition: all 0.3s ease 0s;
}

.header .right-content i:hover {
    color: #000;
}

.header .right-content .search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.header .right-content .search-container form {
    margin: 4px 20px;
    width: 710px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
}
  
.header .right-content .search-container form input {
    width: 90%;
    border: none;
    outline: none;
    color: #000;
    margin-left: 10px;
    font-size: 18px;
}
  
.header .right-content .search-container form input::placeholder {
    color: #000;
}
  
.header .right-content .search-container form button {
    background-color: #fff;
    color: #000;
    border: none;
}
  
.header .right-content .search-container form button .fa-magnifying-glass {
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding-right   : 10px;
    transition: all 0.3s ease 0s;
}
  
.header .right-content .search-container form button i:hover {
    transform: scale(1.1);
}

/* Sub Header Section  */
.sub-header {
    padding: 0 16.6%;
}

.sub-header nav ul {
    display: flex;
    justify-content: center;
}

.sub-header nav ul li {
    list-style: none;
    margin: 5px 56px;
}

.sub-header nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}

.sub-header nav ul li a:hover {
    text-decoration: underline;
}

/* Login & Register Section  */
.hero {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .wrapper {
    width: 380px;
}

.hero .wrapper form {
    padding: 10px;
}

.hero .wrapper form  header {
    font-size: 18px;
    margin-bottom: 2px;
}

.hero .wrapper form .social {
    display: flex;
    flex-direction: column;
}

.hero .wrapper form .social .content-row {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.hero .wrapper form .social .content-row:hover {
    background-color: #AAAAAA;
}

.hero .wrapper form .social .content-row .icon {
    border-radius: 100%;
    border: 1px solid #000;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.hero .wrapper form .social .content-row .icon i {
    font-size: 22px;
}

.hero .wrapper form .social .content-row h2 {
    font-weight: 400;
    font-size: 18px;
    transform: translateY(8%);
    margin-left: 10px;
}

.hero .wrapper form .standard {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

.hero .wrapper form .standard .field {
    color: #000;
    display: flex;
    flex-direction: column;
}

.hero .wrapper form .input {
    margin: 5px 0;
}

.hero .wrapper form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 20px 20px 20px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
}

.hero .wrapper form .action {
    display: flex;
    justify-content: right;
    margin: 10px 0;
}

.hero .wrapper form .action button {
    margin-left: 20px;
    border: none;
    outline: none;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease 0s;
}

.hero .wrapper form .action button:hover {
    text-decoration: underline;
}

.hero .wrapper form .action button a {
    text-decoration: none;
    color: #000;
}

/* Intro Banner Section  */
.home-intro-banner {
    position: relative;
    padding: 20px 0;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #d9d9d9;
}

.home-intro-banner header {
    font-size: 24px;
}

.home-intro-banner .carousel {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    transform: translateY(60%);
    margin: 10px 0;
}

.home-intro-banner .carousel .wrapper {
    margin-right: 40px;
}

.home-intro-banner .carousel .wrapper .content {
    height: 140px;
    width: 140px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.home-intro-banner .carousel .wrapper h4 {
    font-weight: 400;
}

.home-intro-banner .carousel .wrapper .content:hover {
    background-color: #d9d9d9;
}

/* Top Rated & Latest Artworks Section */
.design-one {
    margin: 150px 0 0 0;
    padding: 0 16%;
    display: flex;
    flex-direction: column;
}

.design-one .details {
    margin: 0 10px;
}

.design-one .details header {
    font-size: 24px;
    font-weight: 500;
}

.design-one .details p {
    font-size: 20px;
    font-weight: 400;
    color: #737373;
    margin-bottom: 10px;
}

.design-one .row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.design-one .row .content-col {
    position: relative;
    flex: 33%;
    margin: 0 10px;
    height: 350px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design-one .row .content-col .img {
    width: 100%;
    height: 77%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #D9D9D9;
    border-bottom: 1px solid #000;
}

.design-one .row .content-col .actions {
    position: absolute;
    width: 100%;
    top: 30%;
}

.design-one .row .content-col .actions .btn-center {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.design-one .row .content-col .actions .btn-center button {
    background-color: #d9d9d9;
    border: none;
    outline: none;
}

.design-one .row .content-col .actions .btn-center button i {
    font-size: 32px;
}

.design-one .row .content-col .user-details {
    height: 10%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.design-one .row .content-col .user-details .user-img {
    height: 60px;
    width: 60px;
    border: 1px solid #000;
}

.design-one .row .content-col .user-details .name-rating {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.design-one .row .content-col .user-details .name-rating header {
    font-weight: 400;
    font-size: 20px;
}

.design-one .row .content-col .user-details .name-rating .rating {
    display: flex;
    flex-direction: row;
}

.design-one .row .content-col .user-details .name-rating .rating h4 {
    font-weight: 400;
    font-size: 18px;
    margin-right: 8px;
}

.design-one .row .content-col .user-details .name-rating .stars {
    display: flex;
    flex-direction: row;
    transform: translateY(7%);
}

.design-one .row .content-col .user-details .name-rating .stars i {
    margin-right: 2px;
    font-size: 20px;
}

.design-one .row .content-col .user-details .price {
    position: absolute;
    bottom: 12px;
    right: 10px;
}

.design-one .row .content-col .user-details .price h4 {
    font-weight: 400;
}



/* Top Artists Section  */
.top-paid {
    margin: 30px 0;
    padding: 0 16%;
    display: flex;
    flex-direction: column;
}

.top-paid .details {
    margin: 0 10px;
}

.top-paid .details header {
    font-size: 24px;
    font-weight: 500;
}

.top-paid .details p {
    font-size: 20px;
    font-weight: 400;
    color: #737373;
    margin-bottom: 10px;
}

.top-paid .row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-paid .row .content-col {
    position: relative;
    flex: 33%;
    margin: 0 10px;
    height: 350px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-paid .row .content-col .price {
    position: absolute;
    display: flex;
    top: 10px;
    right: 15px;
}

.top-paid .row .content-col .price h4{
    font-weight: 400;
}

.top-paid .row .content-col .user-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-paid .row .content-col .user-details .img {
    height: 90px;
    width: 90px;
    border: 1px solid #000
}

.top-paid .row .content-col .user-details header {
    font-size: 22px;
    font-weight: 400;
    margin-top: 8px;
}

.top-paid .row .content-col .user-details p {
    font-weight: 400;
    margin: -5px 0 0px 0;
}

.top-paid .row .content-col .user-details .rating {
    display: flex;
    flex-direction: column;
}

.top-paid .row .content-col .user-details .rating i {
    font-size: 18px;
}

.top-paid .row .content-col .user-details .rating h4 {
    font-weight: 400;
    font-size: 18px;
}

.top-paid .row .content-col .user-details button {
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 9px 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s ;
}

.top-paid .row .content-col .user-details button:hover {
    background-color: #d9d9d9;
}

.top-paid .row .content-col .user-details button a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* Footer Section  */
.footer {
    position: relative;
    margin: 50px 0 0 0;
    width: 100%;
    background-color: #d9d9d9;
    border: 2px solid #000;
    border-bottom: none;
}

.footer .footer-top {
    padding: 0 16.6%;
}

.footer .top {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: #000;
    cursor: pointer;
    right: 30px;
    top: -55px;
}

.footer .top i {
    color: #fff;
}

.footer .row {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.footer .row .content-col {
    flex: 21%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer .row .content-col a {
    text-decoration: none;
    color: #000;
}

.footer .row .content-col .logo {
    font-size: 24px;
    font-weight: 500;
}

.footer .row .content-col header {
    margin: 5px 0;
    font-size: 20px;
    font-weight: 400;
}

.footer .row .content-col ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 400;
}

.footer-bottom {
    display: flex;
    width: 100%;
    padding: 20px 16.6%;
    border: 2px solid #000;
    background-color: #000;
}

.footer-bottom .left-content {
    display: flex;
}

.footer-bottom .left-content p {
    font-weight: 500;
    color: #fff;
}

/* About Intro Section  */
.about-intro {
    position: relative;
    margin: 20px 0;
    padding: 2% 16.6%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #000;
}

.about-intro .left-content {
    display: flex;
    flex-direction: column;
}

.about-intro .left-content header {
    font-size: 58px;
    font-weight: 500;
}

.about-intro .left-content p {
    font-size: 28px;
    font-weight: 300;
}

.about-intro .left-content h4 {
    margin: 20px 0;
    font-size: 28px;
    font-weight: 500;
}

.about-intro .actions {
    display: flex;
    flex-direction: row;
}

.about-intro .actions button {
    margin-right: 10px;
    background-color: #fff;
    border: 2px solid #000;
    padding: 12px 48px;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}

.about-intro .actions button:hover {
    background-color: #000;
}

.about-intro .actions button:hover a {
    color: #fff;
}

.about-intro .actions button.signin {
    background-color: #000;
    padding: 12px 60px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.about-intro .actions button.signin:hover {
    background-color: #fff;
}

.about-intro .actions button.signin:hover a {
    color: #000;
}

.about-intro .actions button.signin a {
    color: #fff;
}

.about-intro .actions button a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.about-intro .right-content .img {
    position: absolute;
    height: 650px;
    width: 740px;
    bottom: 0px;
    right: 16.6%;
    border: 2px solid #000;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* About One Section  */
.about-container {
    margin: 30px 14%;
    height: 600px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
}

.about-container .left-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 30px;
}

.about-container .left-content header {
    font-size: 42px;
}

.about-container .left-content p {
    font-size: 24px;
    font-weight: 400;
}

.about-container .left-content .bullets {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.about-container .left-content .bullets .content {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-container .left-content .bullets .content .icon {
    height: 30px;
    width: 30px;
    background-color: #000;
    border-radius: 100%;
}

.about-container .left-content .bullets .content h4 {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 500;
}

.about-container .left-content .actions {
    margin-top: 20px;
}

.about-container .left-content .actions button {
    padding: 12px 32px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #000;
    transition: all 0.3s ease 0s;
}

.about-container .left-content .actions button:hover {
    background-color: #d9d9d9;
}

.about-container .left-content .actions button a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.about-container .right-content {
    width: 50%;
    height: 100%;
    border-left: 2px solid #000;
}

/* About Two Section  */
.about-container.second {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.about-container.second header {
    font-size: 72px;
    line-height: 96px;
}

.about-container.second p {
    margin: 10px 0;
    font-size: 20px;
}

.about-container.second .row {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
}

.about-container.second .row .content{
    flex: 33%;
    height: 180px;
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 15px;
}

.about-container.second .row:last-child {
    margin-right: 0;
}

/* About Artists Section  */
.about-artists {
    margin: 30px 16.6%;
}

.about-artists header {
    margin: 0 10px;
    font-size: 24px;
    font-weight: 500;
}

.about-artists .redirect {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-artists .redirect p {
    font-size: 20px;   
    color: #737373;
    font-weight: 400;
}

.about-artists .redirect a {
    margin-left: 10px;
    font-size: 20px;
    text-decoration: underline;
    color: #000;
}

.about-artists .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-artists .row .content-col {
    position: relative;
    flex: 25%;
    margin: 10px;
    border: 2px solid #000;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.about-artists .row .content-col:hover {
    background-color: #d9d9d9;
}

.about-artists .row .content-col h4 {
    position: absolute;
    bottom: 0px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
